<h1>Here is where my articles should be:</h1>

<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article_path(article) %><br />
      <%= article.content %>
    </li>
  <% end %>
</ul>
